:root {
  --background-color: #ffffff;

  --primary-color: #367151;

  --border-color: #d0d0d0;
  --border-radius: 10px;

  --text-color: #333333;

  --light-color: #ffffff;
  --dark-color: #000000;
}