#instrucoes {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin-inline: 10px;
  margin-block: 14px 12px;
  padding: 10px;
  text-align: justify;
  b {
    text-transform: uppercase;
    font-size: 15px;
    font-family: sans-serif;
  }
  ul {
    margin-top: 12px;
    box-sizing: border-box;

    li {
      font-size: 13.8px;
      font-family: sans-serif;
      a {
        text-decoration: underline;
      }
    }
  }
  p {
    box-sizing: border-box;
    font-size: 13.8px;
    font-family: sans-serif;
  }
}
