<fieldset id="instrucoes">
  <b>Instruções:</b>
  <ul>
    <li>
      Antes de preencher este formulário, faça pesquisa nos links de <a href="#">Pareceres</a> e <a
        href="#">Resoluções</a> procurando material sobre o assunto que pretende.
    </li>
    <li>
      Caso não encontre subsídios para o que pretende preencha o formulário abaixo.
    </li>
  </ul>
  <br>
  <br>
  <b>Resolução CFM Nº 2.070/2014</b>
  <p>Estabelece normas para emissão de Pareceres do Conselho Federal de Medicina.</p>
  <p>(...)</p>
  <p>Art. 2º As consultas solicitadas aos Conselhos Federal e Regionais de Medicina deverão ser encaminhados à
    Secretaria, para fins de protocolo, sendo posteriormente encaminhadas ao conselheiro responsável pelo Setor de
    Processo-Consulta para triagem.</p>
  <p>§ 1º As consultas somente serão atendidas se estiverem justificadas, contendo, obrigatoriamente, o nome completo do
    consulente, número do CRM, caso seja médico, CPF, caso a consulta seja através de correio eletrônico, endereço de
    correspondência e a instituição a que pertence, se for o caso, assim como, quando necessário, cópia da documentação
    comprobatória do que se alega.</p>
  <p>§ 2º As consultas que não preencherem os pré-requisitos de admissibilidade serão arquivadas, devendo as informações
    serem transmitidas aos consulentes.</p>
  <p>§ 3º As consultas, ao final do seu trâmite, deverão ser respondidas formalmente aos consulentes.
  </p>
  <p>Art. 3º Os Conselhos de Medicina atenderão preferencialmente as solicitações de consultas oriundas dos poderes
    Executivo, Legislativo e Judiciário, e de sociedades médicas, outras entidades, médicos e pessoas físicas em geral.
  </p>
  <p>§ 1º As consultas efetivadas pelos Conselhos Regionais ao Conselho Federal de Medicina, quando envolverem matéria
    jurídica, obrigatoriamente deverão ser acompanhadas de prévia manifestação do Setor Jurídico daquele regional.</p>
  <p>§ 2º Os Conselhos de Medicina somente responderão questionamentos dentro de suas competências legais.</p>
  <p>§ 3º As consultas serão obrigatoriamente respondidas em caráter impessoal, de forma genérica e não
    individualizadas.</p>
  <p>§ 4º Não serão respondidas consultas contendo referência ou alusão a questionamentos éticos baseados em casos
    concretos.</p>
  <p>§ 5º Na hipótese do § 4º, o conselheiro responsável pelo Setor de Processo-Consulta, ao tomar ciência da possível
    infração ética contida na solicitação de consulta, a encaminhará à Corregedoria para as apurações necessárias.</p>
  <p>§ 6º Nas consultas encaminhadas ao Conselho Federal de Medicina sobre matéria limitada ao interesse regional, o
    consulente ser á orientado a encaminhá-la ao Conselho Regional de Medicina de seu estado.</p>
  <br>
  <p>(...)</p>
</fieldset>