/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";

/* Global */

@import "./assets/layout/styles/variables.css";

*:not(ul, p) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #e7e7e7;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 2px solid #e7e7e7;
  background-color: #bebebe;
  will-change: contents;
  &:hover {
    background-color: #a6bbaf;
  }
  &:active {
    background-color: var(--primary-color);
  }
}

html,
body {
  overflow-x: hidden;
}