<main class="main">
  <div class="container">
    <header>
      <img src="../assets/layout/images/logo.png" alt="">
      <img src="../assets/layout/images/br.png" alt="">
    </header>
    <div class="title">
      <b>Consulta de Pareceres</b>
    </div>
    <!-- <app-instrucoes></app-instrucoes> -->
    <form #addForm="ngForm" (ngSubmit)="enviarSolicitacao(addForm)">


      <div class="title">
        <b>Dados do Solicitante</b>
      </div>
      <div class="form-container">
        <div class="form-row row">
          <div class="field col-7">
            <label for="name">Nome Completo:</label>
            <input type="name" pInputText name="name" [(ngModel)]="solicitacao.solicitante.nome" required>
          </div>
          <div class="field col-3">
            <label for="crm">Nº do CRM:</label>
            <input type="text" pInputText name="crm" [(ngModel)]="solicitacao.solicitante.crm" required>
          </div>
          <div class="field col-2">
            <label htmlFor="state">UF:</label>
            <p-dropdown [options]="dropdownUf" optionLabel="name" name="uf" [(ngModel)]="selectedUf"></p-dropdown>
          </div>
        </div>
        <div class="form-row row">
          <div class="field col-4 ">
            <label for="cpf">CPF:</label>
            <input type="text" pInputText name="cpf" [(ngModel)]="solicitacao.solicitante.cpf">
          </div>
          <div class="field col-8 ">
            <label for="email">Email:</label>
            <input type="email" pInputText name="email" [(ngModel)]="solicitacao.solicitante.email">
          </div>
        </div>
      </div>


      <div class="title">
        <b>Endereço do Solicitante</b>
      </div>
      <div class="form-container">

        <div class="progress-spinner progress-spinner-color" [style.display]="visible"></div>
        <p-progressSpinner [style.display]="visible" strokeWidth="5" animationDuration="5s"></p-progressSpinner>

        <div class="form-row row">
          <div class="field col-3">
            <label htmlFor="zip">CEP:</label>
            <p-inputMask mask="99999-999" name="cep" [(ngModel)]="solicitacao.solicitante.endereco.cep" (onComplete)="consultaEndereco()"></p-inputMask>
          </div>
        </div>
        <div class="form-row row">
          <div class="field col-6">
            <label htmlFor="logradouro">Logradouro:</label>
            <input pInputTextarea id="logradouro" rows="4" name="logradouro" [(ngModel)]="solicitacao.solicitante.endereco.logradouro">
          </div>
          <div class="field col-2">
            <label for="numero">Número:</label>
            <input type="text" pInputText name="numero" [(ngModel)]="solicitacao.solicitante.endereco.numero">
          </div>
          <div class="field col-4">
            <label for="bairro">Bairro:</label>
            <input type="text" pInputText name="bairro" [(ngModel)]="solicitacao.solicitante.endereco.bairro">
          </div>
        </div>
        <div class="form-row row">
          <div class="field col-12">
            <label htmlFor="complemento">Complemento:</label>
            <input pInputTextarea id="complemento" rows="4" name="complemento" [(ngModel)]="solicitacao.solicitante.endereco.logradouro">
          </div>
        </div>
        <div class="form-row row">
          <div class="field col-12 md:col-3">
            <label htmlFor="state">Estado/Cidade:</label>
            <div>
              <p-dropdown [options]="dropdownEstado" optionLabel="name" name="estado" [(ngModel)]="selectedEstado"></p-dropdown>
              <p-dropdown [options]="dropdownCidade" [(ngModel)]="selectedCidade" name="cidade" optionLabel="name" [filter]="true" filterBy="name"
                [showClear]="true" placeholder="Seleção de cidades">
                <ng-template pTemplate="selectedItem">
                  <div class="country-item country-item-value" *ngIf="selectedCidade">
                    <div>{{selectedCidade.name}}</div>
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="country-item">
                    <div>{{country.name}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="form-row row">
          <div class="field col-4">
            <label for="bairro">Telefone Residencial:</label>
            <p-inputMask mask="(99)9999-9999" name="telefone" [(ngModel)]="solicitacao.solicitante.endereco.telefone"></p-inputMask>
          </div>
          <div class="field col-4">
            <label for="bairro">Celular:</label>
            <p-inputMask mask="(99)99999-9999" name="celular" [(ngModel)]="solicitacao.solicitante.endereco.celular"></p-inputMask>
          </div>
        </div>
      </div>


      <div class="title">
        <b>Sobre o Parecer Solicitado</b>
      </div>
      <div class="form-container">
        <div class="form-row">
          <div class="field col-12">
            <label for="asssunto">Assunto:</label>
            <input type="text" pInputText name="asssunto" [(ngModel)]="solicitacao.assunto">
          </div>
        </div>
        <div class="form-row">
          <div class="field col-12">
            <label for="asssunto">Mensagem:</label>
            <textarea rows="5" cols="auto" name="mensagem" [(ngModel)]="solicitacao.mensagem" pInputTextarea></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="field col-12">
            <label for="asssunto">Justificativa:</label>
            <textarea rows="5" cols="auto" name="justificativa" [(ngModel)]="solicitacao.justificativa" pInputTextarea></textarea>
          </div>
        </div>
      </div>

      <div class="file-input-container">
        <span><strong>Anexo:</strong> (o nome do arquivo não deve conter espaços, e os formatos aceitos são jpg, png, doc, docx, pdf, zip e rar)</span>
				<div class="upload-file-container">
          <input type="file" style="display: none;" id="inputFile">
          <button pButton pRipple type="button" label="Escolher arquivo" class="p-button-outlined p-button-secondary" (click)="onUpload()"></button>
          <div class="uploaded-file-container">
            <span>{{fileName}}</span>
          </div>
        </div>
      </div>

      <div class="button-container">
        <button [disabled]="addForm.invalid" pButton pRipple type="submit" label="Submit"></button>
      </div>

    </form>

  </div>
</main>